﻿

<h1>What do you want to do?</h1>
@*Html.ActionLink("Run Checks", "RunLog", "Checks") <br />*@
@*Html.ActionLink("View Current Checks Status", "Status", "Checks") <br />*@
@Html.ActionLink("Modify Check(s) and Step(s)", "Index", "Checks") <br />

@{
    ViewBag.Title = "Morning Checks";
}

