﻿@model MorningChecks.Views.Checks.ChecksSummaryViewModel



<div>
	<h1>Current Checks</h1>
    @Html.ActionLink("Add new check", "Create", null, new { @class = "abookModal" })
    <br />
		@foreach (var check in Model.Checks)
        {
            Html.RenderPartial("_CheckWithSteps", check);
        }
</div>


 <script type="text/javascript">

    $(function () {

        $('a.abookModal').live("click", function(event) {loadDialog(this, event, '#bookInfo');});
        
    }); /* end document.ready() */
    
    function loadDialog(tag, event, target) {
        event.preventDefault();
        var $loading = $('<img src="../../Content/images/ajaxLoading.gif" alt="loading" class="ui-loading-icon">');
        var $url = $(tag).attr('href');
        var $title = $(tag).attr('title');
        var $dialog = $('<div></div>');
	    var name = $("#Name"),
			allFields = $([]).add(name),
			tips = $(".validateTips");
        //alert(name.val().length);

        function updateTips(t) {
	        tips
			.text(t)
			.addClass("ui-state-highlight");
	        setTimeout(function () {
	            tips.removeClass("ui-state-highlight", 1500);
	        }, 500);
	    }

	    function checkLength(o, n, min, max) {
	        if (o.val().length > max || o.val().length < min) {
	            o.addClass("ui-state-error");
	            updateTips("Length of " + n + " must be between " +
				min + " and " + max + ".");
	            return false;
	        } else {
	            return true;
	        }
	    }

        $dialog.empty();
        $dialog
            .append($loading)
            .load($url)
		    .dialog({
	    	    autoOpen: false
	    	    ,title: $title
	    	    ,width: 500
                ,modal: true
		        ,height: 600
		    });

        $dialog.dialog( "option", "buttons", {
                "Save": function () {
                    var bValid = true;
	                allFields.removeClass("ui-state-error");
                    //bValid = bValid && checkLength(name, "Name", 3, 256);

                    var dlg = $(this);
                    
                    $.ajax({
                        url: $url,
                        type: 'POST',
                        data: $("#target").serialize(),
                        success: function (response) {
                            $(target).html(response);
                            dlg.dialog('close');
                            dlg.empty();
                            $("#ajaxResult").hide().html('Record saved').fadeIn(300, function(){
		                        var e = this;
		                        setTimeout(function() { $(e).fadeOut(400); }, 2500 );
	                        });
                        },
                        error: function (xhr) {
                            if (xhr.status == 400) 
                                dlg.html(xhr.responseText, xhr.status);     /* display validation errors in edit dialog */
                            else 
                                displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
                                   
                        }
                    });
                },
                "Cancel": function() { 
                    $(this).dialog("close");
                    $(this).empty();
                }, 
        });

        $dialog.dialog('open');
    };
</script>


@{
    ViewBag.Title = "Morning Checks - Summary";
}