﻿<div id="dialog-form-add-check" title="Add new check">
	<p class="validateTips">All form fields are required.</p>

        @using (Html.BeginForm("Create", "Checks", FormMethod.Post, new { id = "target"} ))
        {
            <fieldset>
                <legend>Add New Check</legend>
                <p>
                    <label>Name</label>
                    <input type="text" name="Name" id="Name" value="" />
                </p>
                <p>
                    <label>Description</label>
                    <textarea name="Description" id="Description" rows="2" cols="50"></textarea>
                </p>
                <p>
                    <label>Set Check Active?</label>
                    <input type="checkbox" name="IsActive" id="IsActive" checked="checked" value="True" />
                </p>
                <p>
                    <label>Frequency</label>
                    <input type="text" name="FrequencyTypeValue" value="" />
                </p>
                <p>
                    <label>Frequency Component</label>
                    <input type="text" name="FrequencyComponent" value="" />
                </p>
                <p>
                    <input type="hidden" name="AccountId" value="@Model.Check.AccountId"  />
                    <input type="hidden" name="CreatedBy" value="@Model.Check.CreatedBy" />
                </p>
            </fieldset>
        }
</div>


