﻿
<style> 
		label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		h1 { margin: .6em 0; }
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
	</style>
	<script>
	    $(function () {
	        // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
	        $("#dialog:ui-dialog").dialog("destroy");

	        var name = $("#name"),
			email = $("#email"),
			password = $("#password"),
			allFields = $([]).add(name).add(email).add(password),
			tips = $(".validateTips");

	        function updateTips(t) {
	            tips
				.text(t)
				.addClass("ui-state-highlight");
	            setTimeout(function () {
	                tips.removeClass("ui-state-highlight", 1500);
	            }, 500);
	        }

	        function checkLength(o, n, min, max) {
	            if (o.val().length > max || o.val().length < min) {
	                o.addClass("ui-state-error");
	                updateTips("Length of " + n + " must be between " +
					min + " and " + max + ".");
	                return false;
	            } else {
	                return true;
	            }
	        }

	        function checkRegexp(o, regexp, n) {
	            if (!(regexp.test(o.val()))) {
	                o.addClass("ui-state-error");
	                updateTips(n);
	                return false;
	            } else {
	                return true;
	            }
	        }

	        $("#dialog-form").dialog({
	            autoOpen: false,
	            height: 600,
	            width: 550,
	            modal: true,
	            buttons: {
	                "Save": function () {
	                    var bValid = true;
	                    allFields.removeClass("ui-state-error");

	                    bValid = bValid && checkLength(Name, "Name", 3, 256);
	                    bValid = bValid && checkLength(Description, "Description", 6, 1024);

	                    //bValid = bValid && checkRegexp(name, /^[a-z]([0-9a-z_])+$/i, "Username may consist of a-z, 0-9, underscores, begin with a letter.");
	                    // From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/

	                    if (bValid) {
	                        $("#users tbody").append("<tr>" +
							"<td>" + Name.val() + "</td>" +
							"<td>" + Description.val() + "</td>" +
						"</tr>");
	                        $(this).dialog("close");
	                    }
	                    var dlg = $(this);
	                    
	                },
	                Cancel: function () {
	                    $(this).dialog("close");
	                }
	            },
	            close: function () {
	                allFields.val("").removeClass("ui-state-error");
	            }
	        });

	        $("#add-check")
			.button()
			.click(function () {
			    $("#dialog-form").dialog("open");
			});
	    });
	</script>

<div class="demo">
    <div id="dialog-form" title="Add New Check">
    	<p class="validateTips">All form fields are required.</p>
    
        @using (Html.BeginForm("Create", "Checks"))
        {
            <fieldset>
                <legend>Add New Check</legend>
                <p>
                    <label>Name</label>
                    <input type="text" name="Name" id="Name" value="Test Check" class="text ui-widget-content ui-corner-all"/>
                </p>
                <p>
                    <label>Description</label>
                    <textarea name="Description" id="Description" rows="2" cols="50" class="text ui-widget-content ui-corner-all"></textarea>
                </p>
                <p>
                    <label>Set Check Active?</label>
                    <input type="checkbox" name="IsActive" id="IsActive" checked="checked" value="1" />
                </p>
                <p>
                    <label>Frequency</label>
                    <input type="text" name="FrequencyTypeValue" value="Daily" />
                </p>
                <p>
                    <label>Frequency Component</label>
                    <input type="text" name="FrequencyComponent" value="9999-12-31 08:30:00.000" />
                </p>
                <p>
                    <input type="hidden" name="AccountId" value="@Model.AccountId"  />
                    <input type="hidden" name="CreatedBy" value="@Model.UserId" />
                </p>
                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }
    </div>


</div>
