﻿<div>
    <table id="checks" width="100%">
        <tr class="ui-widget-header ">
	        <th>Name</th>
	        <th>Description</th>
            <th>Frequency</th>
            <th>Due (Date/Time)</th>
        </tr>
        <tr>
            <td>@Html.ActionLink((string)Model.Check.Name, "Edit", new { Id = (int)Model.Check.Id }, new { @class = "abookModal" })</td>
	        <td>@Model.Check.Description</td>
            <td>@Model.Check.FrequencyTypeValue</td>
            <td>@Model.Check.FrequencyComponent</td>
        </tr>
    </table>
</div>
@if (Enumerable.Count(Model.Steps) > 0)
{
    <div style="float:right; width:700px;">
        <table width="100%">
            <tr class="ui-widget-header">
	            <th>Step Description</th>
	            <th>Is Instruction</th>
            </tr>    
                @foreach (var step in Model.Steps)
                {
                    <tr>
                        <td>@step.Description</td>
            
		                <td>@step.IsInstructionalOnly</td>
                    </tr>
                }
        </table>
    </div>
}
else
{
    <div style="float:right; width:700px;">
        <table width="100%">
            <tr class="ui-widget-header">
	            <th colspan="2">@Html.ActionLink("No Steps defined...", "Edit", new { Id = (int)Model.Check.Id }, new { @class = "abookModal" })</th>
            </tr>   
        </table>
    </div>
}
<div style="clear:both">
    <br /><br />
</div>

