﻿<div id="dialog-form-edit-check" title="Create new user">
	<p class="validateTips">All form fields are required.</p>

        @using (Html.BeginForm("Edit", "Checks", FormMethod.Post, new { id = "target"} ))
        {
            <fieldset>
                <legend>Edit Existing Check</legend>
                <p>
                    <label>Name</label>
                    <input type="text" name="Name" id="Name" value="@Model.Check.Name" />
                </p>
                <p>
                    <label>Description</label>
                    <textarea name="Description" id="Description" rows="2" cols="50">@Model.Check.Description</textarea>
                </p>
                <p>
                    <label>Set Check Active?</label>
                    <input type="checkbox" name="IsActive" id="IsActive" checked="checked" value="@Model.Check.IsActive" />
                </p>
                <p>
                    <label>Frequency</label>
                    <input type="text" name="FrequencyTypeValue" value="@Model.Check.FrequencyTypeValue" />
                </p>
                <p>
                    <label>Frequency Component</label>
                    <input type="text" name="FrequencyComponent" value="@Model.Check.FrequencyComponent" />
                </p>
                <p>
                    <input type="hidden" name="AccountId" value="@Model.Check.AccountId"  />
                    <input type="hidden" name="CreatedBy" value="@Model.Check.CreatedBy" />
                </p>
            </fieldset>
        }
</div>


